* {
    padding: 0;
    margin: 0;
    background-size: 100% 100%;
    font-family: Tahoma, Arial;
    list-style: none;
    color: white;
}
body {
    /*body styles*/
    background: url("../img/mountains.png")no-repeat;
    background-size: cover;
}
header .login, header .offer, header .menu {
    padding-top: 2px;
    height: 31px;
    line-height: 15px;
}
header{
    background-color: rgba(7,81,144,2);
    height: 35px;

}
header .login, header .offer, header .menu {
    padding-top: 2px;
    height: 31px;

}
header ul {
    padding-top: 5px;
}
.login {
    float: right;
    margin-right: 20px;
    text-align: center;
    width: 190px;

}
.login a:hover {
    text-decoration: none;
}
.offer {
    float: right;
    width: 145px;
    text-align: right;
    height: 31px;
    margin: 2px;
    padding: 0 20px 0 20px;
    background: url(../img/flag.png) no-repeat 10% 30%;
    border-left: 1px solid deepskyblue;
}
.offer a{
    text-decoration: none;
}
.offer a:hover {
    text-decoration: underline;
}
.menu {
    overflow: hidden;
    outline: 1px solid black;
}
.menu li {
    float: right;
    height: 35px;
    outline: 1px solid black;
}
.menu a {
    text-decoration: none;
    padding: 0 9px 0 9px;

}
.menu a:hover {
    background-color: aliceblue;

}

/*.header li{
    float: right;
    position: relative;
    text-decoration: none;
    list-style: none;
}
.header li a{
    display: block;
    position: relative;
    line-height: 35px;
    color: #60b5ed;
    padding: 0px 30px;
    text-decoration: none;
    font-size: 12pt;
}*/
.clearfix:after{
    content:'';
    clear:both;
    display:block;
}
.input_form {
    height: 612px;
    width: 560px;
    margin: 200px auto;
}
.input_form_header {
    height: 62px;
    width: 100%;
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.7);
}
.input_form_content {
    height: 548px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.facebook{
    height: 70px;
    margin: auto;
    /*background: url(../img/facebook.png) no-repeat;*/
    /*position: relative;*/
}
.facebook a {
    background: url(../img/facebook.png) no-repeat;
    display: block;
    position: relative;
    margin: auto;
    height: 35px;
    width: 276px;
    top: 20px;
}
.facebook a:hover {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(77, 102, 166, 1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(77, 102, 166, 1);
    box-shadow: 0px 0px 15px 1px rgba(77, 102, 166, 1);
}
.facebook a:active {
    top: 21px;
}
.ou {
    text-align: center;
}
.ou span{
    display: inline-block;
    position: relative;
    color: gray;

}
.ou span:before,
.ou span:after {
    content: "";
    position: absolute;
    height: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid darkgrey;
    top: 10px;
    width: 50px;
}
.ou span:before {
    right: 100%;
    margin-right: 15px;
}
.ou span:after {
    left: 100%;
    margin-left: 15px;
}
/*.ou span:before{*/
    /*border-top: 1px solid black;*/
    /*width: 50px;*/
    /*height: 2px;*/
    /*background: #f2f2f2;*/
/*}*/
/*.ou span:after{*/
    /*content: "¶ ";*/
/*}*/
.form {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    width: 100%;
}
.input_form_header{
    font-size: 21px;
    text-align: center;
    height: 60px;


}
.form input {
    width: 280px;
    display: block;
    margin: auto;
    height: 34px;
    border: none;
    margin-bottom: 15px;
    text-indent: 20px;
    font-size: 14px;
    border-bottom: 1px solid #484948;
    background: black;
}
input:focus {
    background-color:#1B5288;
    -webkit-box-shadow: 0px 0px 15px 4px rgba(77,102,166,1);
    -moz-box-shadow: 0px 0px 15px 4px rgba(77,102,166,1);
    box-shadow: 0px 0px 15px 4px rgba(77,102,166,1);
}
.subscribe {
    width: 280px;
    margin: 0 auto;
    height: 40px;
    /*float: left;*/
    /*margin-left: 50px;*/
}
.subscribe input {
    width: auto;
    float: none;
    margin: 0 10px 0;
    display: inline-block;
    height: auto;
    box-shadow: none;

}
.btn{
    margin-left: 35%;
    height: 30px;
    width: 150px;
    border-color: #6bb8e7;
    border-radius: 2px;
    background-color: #2e7ac4;
    cursor: pointer;
}
.btn:hover{
    background-color: #2e93df;
}
footer p {
    font-size: 11px;
    text-align: center;
    padding-top: 25px;
}