* {
    padding: 0;
    margin: 0;
    background-size: 100% 100%;
    font-family: Tahoma, Arial;
}

ul {
    list-style: none;
}

li {
    text-align: center;
    list-style: none;
}

.clearfix:after {
    content: "";
    clear: both;
    float: none;
    display: block;
}
body {
    /*body styles*/

    background: #0C739F url("../img/fragment.png") repeat-x;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.73);
}
.header-top {
    height: 175px;
    float: left;
}
.header-top p {
    color: rgba(18, 138, 167, 0.8);
}
.logo {
    width: 275px;
    height: 100%;
    margin-top: 15px;
    margin-left: 30px;
}
.header-right {
    float: right;
    width: 340px;
    height: 100%;
    margin-right: 35px;
}
.contacts {
    font-size: 12px;
    padding-top: 10px;
}
.contacts p {
    margin: 5px;
}
.flags {
    padding-top: 15px;
}
.flags li {
    display: inline-block;
    font-size: 10px;
    margin: 2px;
}
.flags a:hover {
    text-decoration: none;
}
.ad {
    /*styles for banner*/

    height: 240px;
    background: white url("../img/travel.png");
    background-size: 100% 100%;
}
.menu {
    height: 30px;
    width: 100%;
    background-image: linear-gradient(#5e5e5e, #444343);
}
.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 14px;
}
.menu .symbol {
    font-size: 8px;
    vertical-align: middle;
}
.menu li {
    float: left;
    width: 140px;
    height: 30px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid black;
}
.menu li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 30px;
    margin: 0;
    width: 140px;
    background: #2c2c2c;
    border: 1px solid #000;
}
. menu li ul li {
    float: none;
    display: block;
}
.menu li:hover ul {
    display: block;
}
.menu li:hover {
    background: #777;
}
.container {
    background-color: white;
    height: 540px;
    text-align: justify;
    font-size: 14px;
    color: rgb(66, 76, 67);
}

.container p {
    text-align: center;
    font: 16px/22px Arial, sans-serif;
    margin-top: 10px;
}

.container .sidebar {
    /*sidebar styles*/
    background-color: #EDEEF0;
    float: left;
    height: 100%;
    width: 210px;
    padding: o 15px;
}

.container .content {
    float: left;
    width: 210px;
    height: 100%;
    padding: 0 15px;
}

.container .news {
    background-color: #EDEEF0;
    width: 210px;
    height: 100%;
    float: right;
    padding: 0 15px;

}
.footer {
    text-align: center;
    height: 34px;
    color: rgba(255, 255, 255, 08);
    font-size: 12px;
    padding: 7px;
}
.footer p {
    padding: 1px;
}